---
// Fond du hero : deux halos statiques discrets. (Le blob suiveur de souris
// et son système de tracking JS ont été retirés lors du ménage visuel.)
---

<div
  class="absolute inset-0 overflow-hidden -z-10 pointer-events-none"
  style="contain: strict;"
>
  <div
    class="absolute top-[20%] left-[20%] w-[300px] h-[300px] bg-pacamara-secondary/20 rounded-full blur-[80px] mix-blend-screen dark:mix-blend-screen filter opacity-40 translate-z-0"
  >
  </div>
  <div
    class="absolute top-[35%] left-[55%] w-[300px] h-[300px] bg-pacamara-accent/20 rounded-full blur-[80px] mix-blend-screen dark:mix-blend-screen filter opacity-40 translate-z-0"
  >
  </div>
</div>
