# build output
dist/

# dependencies
node_modules/

# generated
.astro/

# Lighthouse CI
.lighthouseci/

# Bundle analyzer
stats.html

# Logs
*.log

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Cache
.eslintcache
.stylelintcache
