---
import Base from "../layouts/Base.astro";
import Hero from "../components/features/home/Hero.astro";
import LatestPosts from "../components/features/projects/LatestPosts.astro";
---

<Base>
  <main>
    <Hero />
    <LatestPosts />
  </main>
</Base>
