<button
  id="menu_toggle"
  class="block md:hidden text-white group"
  type="button"
  aria-controls="navbar-main"
  aria-expanded="false"
  aria-label="Ouvrir le menu"
>
  <div
    class="relative w-8 h-6 flex flex-col justify-between items-center group-hover:scale-105 transition-transform duration-300"
  >
    <span
      class="w-full h-0.5 bg-pacamara-dark dark:bg-pacamara-accent rounded-full transition-all duration-300 origin-left group-aria-expanded:rotate-45 group-aria-expanded:translate-x-1"
    ></span>
    <span
      class="w-full h-0.5 bg-pacamara-dark dark:bg-pacamara-accent rounded-full transition-all duration-300 group-aria-expanded:opacity-0"
    ></span>
    <span
      class="w-full h-0.5 bg-pacamara-dark dark:bg-pacamara-accent rounded-full transition-all duration-300 origin-left group-aria-expanded:-rotate-45 group-aria-expanded:translate-x-1"
    ></span>
  </div>
</button>

<script>
  const menuToggle = () => {
    const button = document.querySelector("#menu_toggle");
    const nav = document.querySelector("#navigation_wrapper");

    if (button && nav) {
      button.addEventListener("click", function () {
        const isExpanded = button.getAttribute("aria-expanded") === "true";
        button.setAttribute("aria-expanded", String(!isExpanded));
        document.documentElement.classList.toggle("overflow-hidden");
        nav.classList.toggle("translate-x-full");
        nav.classList.toggle("translate-x-0");
      });

      nav.querySelectorAll("a").forEach((link) => {
        link.addEventListener("click", () => {
          document.documentElement.classList.remove("overflow-hidden");
          button.setAttribute("aria-expanded", "false");
          nav.classList.add("translate-x-full");
          nav.classList.remove("translate-x-0");
        });
      });

      // Sync aria-expanded with the actual state of the menu (overflow-hidden on html)
      const observer = new MutationObserver((mutations) => {
        mutations.forEach((mutation) => {
          if (mutation.attributeName === "class") {
            const isMenuOpen =
              document.documentElement.classList.contains("overflow-hidden");
            button.setAttribute("aria-expanded", String(isMenuOpen));

            if (isMenuOpen) {
              nav.classList.remove("translate-x-full");
              nav.classList.add("translate-x-0");
            } else {
              nav.classList.add("translate-x-full");
              nav.classList.remove("translate-x-0");
            }
          }
        });
      });
      observer.observe(document.documentElement, {
        attributes: true,
        attributeFilter: ["class"],
      });
    }
  };

  menuToggle();
  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", menuToggle);
</script>
